#texthtml{
	height: 100%;
  background: whitesmoke;
  overflow: scroll;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 3em;
  font: 100%/1.4 serif;
  border: 1px solid rgba(0,0,0,0.25)
}


h1{
	font-family: Courier New ;
	font-size: 30px;
	color: #CC4128;

}

h3{
	color: #4F00FF;	



}

